AddOn.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
  <xs:element name="AddOn">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="Id" type="xs:int"/>
        <xs:element name="MethodId" type="xs:string" minOccurs="0"/>
        <xs:element name="MethodVersion" type="xs:string" minOccurs="0"/>
        <xs:element name="Assays" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="Assay" minOccurs="0" maxOccurs="unbounded">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="Id" type="xs:int"/>
                    <xs:element name="Name" type="xs:string" minOccurs="0"/>
                    <xs:element name="AddOnRef" type="xs:int"/>
                    <xs:element name="Analytes" minOccurs="0">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="Analyte" minOccurs="0" maxOccurs="unbounded">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="Id" type="xs:int"/>
                                <xs:element name="Name" type="xs:string" minOccurs="0"/>
                                <xs:element name="AssayRef" type="xs:int"/>
                                <xs:element name="AnalyteUnits" minOccurs="0">
                                  <xs:complexType>
                                    <xs:sequence>
                                      <xs:element name="AnalyteUnit" minOccurs="0" maxOccurs="unbounded">
                                        <xs:complexType>
                                          <xs:sequence>
                                            <xs:element name="Id" type="xs:int"/>
                                            <xs:element name="Name" type="xs:string" minOccurs="0"/>
                                            <xs:element name="AnalyteRef" type="xs:int"/>
                                          </xs:sequence>
                                        </xs:complexType>
                                      </xs:element>
                                    </xs:sequence>
                                  </xs:complexType>
                                </xs:element>
                                <xs:element name="AssayInformationType" type="xs:string" minOccurs="0"/>
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>
